.panel-heading
  .panel-title
    h1.text-center
      b 404
      br
      case this._.sample([1,2,3,4])
        when 1
          small :(
        when 2
          small There's nothing here, Derp.
        when 3
          small You must be lost.
        default
          small The struggle is real.
  hr

.panel-body#destinations.space-b4.text-center
  blockquote
    p.lead Do you know what you're doing at all?
    small TurtleMap

