.panel-heading
  .panel-title
    h1.text-center
      b Schedule
      br
      small Places to go, people to see.
  hr

.panel-body#schedule
  p.lead.text-center
    | Looks like your schedule is empty.
  p
    | Head to over to 
    a(href="#buildings") buildings 
    | or 
    a(href="#courses") courses 
    | and search for a few things to add to your schedule.
  form.form-inline(role="form")
