@import 'nib'


@media screen and (min-width: 768px)
  #course-search .form-group
    width 50%
    &:nth-child(odd)
      padding-right 5px
    &:nth-child(even)
      padding-left 5px

li.course
  h4
    text-align center

