@import 'nib'

body, html, #site-container, #outer-page-container
  height 100%

#page-container
  height 100%
  padding-top 70px

.header
  #title
    color #eee
    line-height 50px

#title, #subtitle
  white-space nowrap
  margin-left 10px

@media screen and (max-width: 768px)
  #subtitle
    display none

